div.call-us {
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  margin: 30px 10%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.122);
  border-radius: 10px;

  display: flex;
  //flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;

  div.right {
    display: flex;
    align-items: center;
    gap: .25rem;
  }

  div.call {
    padding: 10px;
    border-radius: 10px;
    background-color: #B1FFC3;
    text-align: center;
    color: #03C931;
  }
}

div.where {
  box-sizing: border-box;
  direction: rtl;
  text-align: right;
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.122);
  margin: 30px 10%;

  div.desc {
    text-align: justify;
  }
}
