<div class="call-us">
  <div class="right">
    <img src="assets/custom-icons/contact-us/Icon feather-phone.svg" alt="">
    <div class="number">
      0930 000 0000
    </div>
  </div>
  <div class="call"> تماس بگیرید</div>
</div>

<div class="where">
  <img src="/assets/custom-icons/contact-us/Icon feather-map-pin.svg" alt="">
  <div class="desc">
    تهران بزرگراه ستاری بلوار شهید مخبری نبش خیابان ایران زمین، ديوان عدالت اداري. تهران بزرگراه ستاری بلوار شهید
    مخبری نبش خیابان ایران زمین، ديوان عدالت اداري
  </div>
</div>
