<div class="home-header">
  <div class="logo">
    <img src="assets/images/LogoYellowBG.png" alt="N">
  </div>
  <div class="header-title">
    <p dir="rtl" class="normal-label">تجربه ی واقعی سفر با ناخدا</p>
<!--    <p dir="rtl" class="normal-label">صدور بلیت های داخلی و خارجی</p>-->
    <p dir="rtl" class="normal-label">صدور بلیت</p>
    <p dir="rtl" class="normal-label">اخذ ویزا</p>
<!--    <p dir="rtl" class="normal-label">اخذ ویزای تمامی کشورها</p>-->
    <p dir="rtl" class="normal-label">تورهای داخلی و خارجی</p>
<!--    <p dir="rtl" class="normal-label">برگزاری انواع تورهای داخلی و خارجی</p>-->
    <p dir="rtl" class="bold-label">07633683379</p>
<!--    <p dir="rtl" class="normal-label">شماره تماس 07633683379</p>-->
  </div>
  <div class="categories">
    <div *ngFor="let category of categories.slice(0, 2)"
         (click)="categorySelected.emit(category.id)"
         class="category image-container">
      <div class="image-overlay"></div>
      <img [src]="category.imageUrl" alt="Category Image">
      <label class="bold-label">{{category.title}}</label>
    </div>
  </div>
</div>
