<div class="home-header">
  <div class="header-title">
    <label class="normal-label">
      این جاذبه ها را به شما پیشنهاد می دهیم
    </label>
  </div>
  <div class="categories">
    <div *ngFor="let category of categories.slice(0, 2)"
         (click)="categorySelected.emit(category.id)"
         class="category image-container">
      <div class="image-overlay"></div>
      <img [src]="category.imageUrl" alt="Category Image">
      <label class="bold-label">{{category.title}}</label>
    </div>
  </div>
</div>
