/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/font-styles";
@import "./assets/styles/images";
@import "./assets/styles/general";

@font-face {
  font-family: 'Dirooz';
  src: url('./assets/fonts/dirooz.woff');
}

* {
  box-sizing: border-box;
}

body, * {
  font-family: Dirooz, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #F6F6F6;
}
