/* You can add global styles to this file, and also import other style files */
@import "font-styles";
@import "images";
@import "general";

@font-face {
  font-family: 'Dirooz';
  src: url('../fonts/dirooz.woff');
}

body, * {
  font-family: Dirooz, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #F6F6F6;
}
