:root {
  --nakhoda-primary: #cb1323;
  --nakhoda-primary-btn: #F65014;

  --nakhoda-font-reddish: #FEF0EB;
  --nakhoda-font-white: #eeeeee;

  --nakhoda-active: #eb1e2f;
  --nakhoda-active-contrast: #fdecee;

  --nakhoda-deactive: #fdecee;
  --nakhoda-deactive-contrast: #ef6c79;

  --nakhoda-secondary-1: #F6F6F6;
  --nakhoda-secondary-2: #666666;
  --nakhoda-secondary-3: #333333;
  --nakhoda-secondary-4: #6D6D6D;

  --nakhoda-info-box: #F3F1BC;
  --nakhoda-info-box-contrast: #5B590C;
}
